page-home {

    .ball{
        width: 7vh;
        margin-bottom: 5px;
        margin-right: 3px;
        float: right;
    }
     
    .pad2
    {
        padding: 1em;
    }
    ion-icon{
        float: left;       
    }

}

