page-home {

    .ball{
        width: 8vh;
        margin-bottom: 10px;
        margin-right: 9px;
        float: right;
    }
     
    .pad2
    {
        padding: 1em;
    }
    ion-icon{
        float: left;       
    }

}

